* {
  font-family: 'JetBrainsMono Nerd Font', 'Symbols Nerd Font Mono';
  font-size: 15px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 10px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.0);
  /* display: none; */
}

#custom-arch, #workspaces {
  border-radius: 10px;
  /* background-color: #292929; */
  color: #F1F1F1;
  padding-right: 10px;
  margin-bottom: 5px;
}

#custom-arch {
  font-size: 20px;
  margin-left: 15px;
  color: #168ECA;
}

#workspaces button {
  background-color: rgba(0, 0, 0, 0.5);
  /* color: rgba(0, 0, 0, 0.1); */
  margin-left: 25px;
}

#workspaces button.persistent {
    color: #2e3440;

}

#workspaces button.active {
    color: #2e3440;
    background-color: #88c0d0;
}

#custom-btc,
#custom-recorder,
#custom-pacman,
#clock, #wireplumber,
#bluetooth,
#network,
#window,
#disk,
#memory,
#cpu,
#temperature {
  background-color: rgba(0, 0, 0, 0.5);
  /* background: #11111b; */
  border-radius: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#clock {
  margin-right: 5px;
}

.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #1DB954;
    color: black;
}

