Code/
Dotfiles/nvim/.config/nvim/plugin/packer_compiled.lua
MusicSync
Obsidian/
Book
USB
**/__pycache__
PDFS
IPFS
Anki
Cuentos
tmp
Walkman
Pass
Backup
Music
.idea/
.DS_Store
Notes*
Notes
MeliNotes
# Server folders
home-server
Dotfiles/polybar

