[Unit]
Description=ShaderWebServer
After=network.target 

[Service]
Type=simple
Restart=always
ExecSearchPath=/home/canus/SmallBinaries/:/home/server/SmallBinaries/:/usr/bin/
ExecStart=http-cmd

[Install]
WantedBy=default.target

