[Unit]
Description=ShaderWebServer
After=network.target

[Service]
Type=simple
ExecStart=$MY_FOLDER/SmallBinaries/http-cmd

[Install]
WantedBy=multi-user.target

